---
import Main from "../layouts/main.astro";
let Placeholder = "unidentified";
import { X, Search } from "lucide-astro";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <script src="../utils/main.ts"></script>
  <script src="../utils/cloak.ts"></script>
</head>
<Main>
  <div class="flex items-center justify-center min-h-screen">
    <div class="text-center p-6 w-full max-w-lg">
      <h1
        class="text-6xl font-bold text-white mb-6 text-shadow-bubble text-shadow-bubble-blur"
      >
        Lunar
      </h1>
      <form id="sear" method="post" class="relative flex justify-center mt-6">
        <div class="relative w-full">
          <button
            type="button"
            id="search-btn"
            class="absolute left-4 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-gray-300 transition duration-200"
          >
            <Search id="search" class="w-6 h-6" />
          </button>
          <input
            id="input"
            class="w-full h-[50px] pl-12 pr-12 p-4 text-lg text-white text-center bg-gray-800 border border-gray-700 rounded-full shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-200"
            type="text"
            placeholder={Placeholder}
          />
          <button
            type="button"
            id="clear"
            class="absolute right-4 top-1/2 transform -translate-y-1/2 text-white text-2xl hover:text-red-700 focus:outline-none transition duration-200"
            style="display: none;"
          >
            <X class="w-[19px] h-[21px]" />
          </button>
        </div>
      </form>
    </div>
  </div>
  <p
    class="fixed bottom-0 left-0 right-0 text-center bg-gray-800 py-4 text-gray-300"
  >
    <a id="time" class="hover:text-white transition duration-200"></a>
  </p>

  <script>
    const inputElement = document.getElementById("input") as HTMLInputElement;
    const clock = document.getElementById("time") as HTMLElement;
    inputElement.placeholder = `Search with ${localStorage.getItem("@lunar/settings/se") || "Google"} or enter a URL`;
    function updateClock() {
      const now = new Date();
      let hours = now.getHours();
      const minutes = String(now.getMinutes()).padStart(2, "0");
      const seconds = String(now.getSeconds()).padStart(2, "0");
      const ampm = hours >= 12 ? "PM" : "AM";
      hours = hours % 12;
      hours = hours ? hours : 12;
      const displayHours = String(hours).padStart(2, "0");
      if (clock) {
        clock.textContent = `${displayHours}:${minutes}:${seconds} ${ampm}`;
      }
    }

    setInterval(updateClock, 1000);
    updateClock();
  </script>
</Main>
