---
const { AssetList } = Astro.props;
import { Image } from 'astro:assets';
import type { Asset } from '@src/utils/as';
---

<div class="flex flex-col items-center mt-16 p-4">
  {
    AssetList.length === 0 ? (
      <p class="text-center text-gray-500">No Assets found...</p>
    ) : (
      <div class="flex flex-wrap justify-center gap-6">
        {AssetList.map((asset: Asset) => (
          <button
            id="data-2"
            data-json={JSON.stringify(asset)}
            class="relative group cursor-pointer transition-all w-36 transform overflow-visible"
          >
            <div class="relative">
              <Image
                loading="lazy"
                src={asset.image}
                alt={asset.name}
                width={140}
                height={140}
                class="h-36 w-36 object-cover rounded-md transition-all duration-150 group-hover:scale-105 group-hover:blur-sm"
                srcset={`${asset.image}?w=70 70w, ${asset.image}?w=140 140w, ${asset.image}?w=280 280w`}
                sizes="(max-width: 640px) 70px, 140px"
              />
              <div class="absolute inset-0 bg-black/20 opacity-0 group-hover:opacity-100 rounded-md transition-opacity duration-150" />
            </div>
            <div class="absolute bottom-0 left-0 w-full p-2 text-white text-center opacity-0 group-hover:opacity-100 text-lg font-semibold font-poppins tracking-wide drop-shadow-md overflow-visible">
              <div class="text-center font-semibold text-base">
                {asset.name}
              </div>
            </div>
          </button>
        ))}
      </div>
    )
  }
</div>
