---
import { Gamepad, Cog, Album, House } from "lucide-astro";
import "@src/main.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline src="./assets/v/bundle.js" defer></script>
    <script is:inline src="./assets/v/config.js" defer></script>
    <script is:inline src="/bm/index.js" defer></script>
  </head>
  <body class="text-white w-[80vw] mx-auto font-sans">
    <div
      class="bg-gray-800 p-4 w-[80vw] mx-auto rounded-b-[30px] border-b border-r border-l border-gray-600"
    >
      <div class="container mx-auto flex justify-center items-center">
        <ul class="flex text-white">
          <li class="flex items-center">
            <a href="./" class="flex items-center py-2 px-4">
              <House class="icon w-7 h-7 mr-2" />
              Home
            </a>
          </li>
          <li class="flex items-center">
            <a href="./gm" class="flex items-center py-2 px-4">
              <Gamepad class="icon w-8 h-8 mr-2" />
              Games
            </a>
          </li>
          <li class="flex items-center">
            <a href="./apps" class="flex items-center py-2 px-4">
              <Album class="icon w-8 h-8 mr-2" />
              Apps
            </a>
          </li>
          <li class="flex items-center">
            <a href="./st" class="flex items-center py-2 px-4">
              <Cog class="icon w-8 h-8 mr-2" />
              Settings
            </a>
          </li>
        </ul>
      </div>
    </div>
    <slot />
    <div
      class="border-t border-r border-l border-gray-600 fixed bottom-0 text-center mx-auto left-20 right-20 rounded-t-[30px] bg-gray-800 py-4 text-gray-300"
    >
      <a id="time" class="hover:text-white transition duration-200"></a>
    </div>
  </body>
  <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker
        .register("./sw.js", { scope: "/p/" })
        .then(({ scope }) =>
          console.debug("Service Worker registered with scope:", scope),
        )
        .catch((error) =>
          console.error("Service Worker registration failed:", error),
        );
    }
  </script>
  <script>
    const clock = document.getElementById("time") as HTMLElement;
    function updateClock() {
      const now = new Date();
      let hours = now.getHours();
      const minutes = String(now.getMinutes()).padStart(2, "0");
      const seconds = String(now.getSeconds()).padStart(2, "0");
      const ampm = hours >= 12 ? "PM" : "AM";
      hours = hours % 12;
      hours = hours ? hours : 12;
      const displayHours = String(hours).padStart(2, "0");
      if (clock) {
        clock.textContent = `${displayHours}:${minutes}:${seconds} ${ampm}`;
      }
    }
    setInterval(updateClock, 1000);
    updateClock();
  </script>
</html>
