---
import { Gamepad, Cog, Album, House } from "lucide-astro";
import "@src/main.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline src="./assets/v/bundle.js" defer></script>
    <script is:inline src="./assets/v/config.js" defer></script>
  </head>
  <body class="font-nunito">
    <div class="flex mx-auto w-full">
      <div class="bg-gray-800 border-gray-600 border-b h-10 w-[10vw]"></div>
      <div class="bg-gray-800 w-[80vw] h-10"></div>
      <div class="bg-gray-800 border-gray-600 border-b h-10 w-[10vw]"></div>
    </div>
    <div class="w-[80vw] mx-auto">
      <div
        class="bg-gray-800 p-1 w-[80vw] mx-auto rounded-b-[30px] border-b border-r border-l border-gray-600"
      >
        <div class="container mx-auto flex justify-center items-center">
          <ul class="flex">
            <li class="flex items-center">
              <a
                href="./"
                class="text-gray-300 hover:text-white transition duration-200 flex items-center py-2 px-4"
              >
                <House class="icon w-5 h-5 mr-2" />
                Home
              </a>
            </li>
            <li class="flex items-center">
              <a
                href="./gm"
                class="text-gray-300 hover:text-white transition duration-200 flex items-center py-2 px-4"
              >
                <Gamepad class="icon w-6 h-6 mr-2" />
                Games
              </a>
            </li>
            <li class="flex items-center">
              <a
                href="./apps"
                class="text-gray-300 hover:text-white transition duration-200 flex items-center py-2 px-4"
              >
                <Album class="icon w-5 h-5 mr-2" />
                Applications
              </a>
            </li>
            <li class="flex items-center">
              <a
                href="./st"
                class="text-gray-300 hover:text-white transition duration-200 flex items-center py-2 px-4"
              >
                <Cog class="icon w-5 h-5 mr-2" />
                Settings
              </a>
            </li>
          </ul>
        </div>
      </div>
      <slot />
    </div>
    <div
      class="border-t border-r border-l border-gray-600 fixed bottom-10 text-center mx-auto left-[5vw] right-[5vw] rounded-t-[30px] bg-gray-800 py-1 text-gray-300"
    >
      <a id="time"></a>
    </div>
    <div class="flex mx-auto w-full bottom-0 fixed">
      <div class="bg-gray-800 border-gray-600 border-t h-10 w-[5vw]"></div>
      <div class="bg-gray-800 w-[90vw] h-10 text-center">
        <p class="text-gray-300">
          <a
            href="https://discord.gg/BEzeunW2"
            class="hover:text-white transition duration-200">Discord</a
          > &#12539;
          <a href="tos" class="hover:text-white transition duration-200">TOS</a>
        </p>
      </div>
      <div class="bg-gray-800 border-gray-600 border-t h-10 w-[5vw]"></div>
    </div>
  </body>
  <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker
        .register("./sw.js", { scope: "/p/" })
        .then(({ scope }) =>
          console.debug("Service Worker registered with scope:", scope),
        )
        .catch((error) =>
          console.error("Service Worker registration failed:", error),
        );
    }
  </script>
  <script>
    const clock = document.getElementById("time");
    function updateClock() {
      const now = new Date();
      let hours = now.getHours();
      const minutes = String(now.getMinutes()).padStart(2, "0");
      const seconds = String(now.getSeconds()).padStart(2, "0");
      const ampm = hours >= 12 ? "PM" : "AM";
      hours = hours % 12;
      hours = hours ? hours : 12;
      const displayHours = String(hours).padStart(2, "0");
      if (clock) {
        clock.textContent = `${displayHours}:${minutes}:${seconds} ${ampm}`;
      }
    }
    setInterval(updateClock, 1000);
    updateClock();
  </script>
</html>
